<html lang="ru">
<div ng-controller="ctrl">
    <div class="container" align="center" style="border: solid gray 1px; border-radius: 10px; background-color: aliceblue; box-shadow: 0px 0px 3px 0px;">
		
        <h2>Домены</h2>

        <br>

        <div class="row">
            <form class="form-horizontal" role="form" ng-model="domain" ng-submit="compute();">

                <div class="form-group">
                    <label class="col-xs-2 control-label">Домен</label>
                    <div class="col-xs-9 center-block">
                        <select class="form-control" ng-model="dmnSelect" ng-change="setDomName(dmnSelect);" ng-options="dmn.ID as dmn.dmnName for dmn in domains">
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">{{cmp}}</button>
                </div>

            </form>
        </div>

        <br>

    </div>
</div>
<br>